// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bg-danger, .bg-success {
	padding: 15px;
}

#loading {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 50%;
	margin-left: -20px;
	top: 5px;
	z-index: 99999;
}

.home-panel {
	background: image-url("social_background.jpg") no-repeat 50% 50%;
	margin-top: -20px;
	height: 400px;
}

a {
	cursor: pointer;
}

/* carousel */
#quote-carousel 
{
  padding: 0 10px 30px 10px;
  margin-top: 30px 0px 0px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left 
{
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right 
{
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active 
{
  background: #333333;
}
#quote-carousel img
{
  width: 250px;
  height: 100px
}
/* End carousel */

.item blockquote {
    border-left: none; 
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}



/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
      margin-top: 30px;
    }
    
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) { 
    
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;  
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}

ul {
  &.bg-danger {
    list-style-type: none;
  }
}


.profile {
    // background-color: #FF766C;
    // border: 1px solid #ff766c;
    position: relative;
    width: 100%;
    display: table;
    // display: table;
    .information {
      // position: absolute;
      z-index: 999;
      .name {
        text-transform: uppercase;
        font-size: 18px;
        margin-bottom: 0;
      }
    }
    .cover {
      position: absolute;
      z-index: -1;
      background-image: url(/images/persons/cover_1.png);
      background-size: cover;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, .4);
    }
}

.profile img {
    display: block;
    border: 10px solid rgba(255, 255, 255, 0.3);
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.profile p {
    text-align: center;
    color: #fff;
}

.list-group-item a {
    background-color: #fff;
    border-radius: 0px !important;
    // border: 1px solid #DDD;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #ffffff;
    color: #555;
    border-left: 3px solid transparent;
    &:hover {
      text-decoration: none;
    }
    // border: 1px solid #dddddd;
}

.list-group-item.active a, .list-group-item:hover a {
    border-left: 3px solid #FF766C;
    background-color: #F8F7F5;
}

.list-group {
  .list-group-item {
    padding: 0;
    border: 0;
  }
}

/*Ignore this tag. It is to give space.*/
#space { padding: 10px; }

.dropdown-toggle {
  &.with-image {
    padding-left: 44px;
    position: relative;
    img {
      position: absolute;
      top: 7px;
      left: 5px;
      height: 35px;
    }
  }
}

.ng-callout {
  font: normal 20px Roboto;
  color: #777;
  text-transform: uppercase;
  text-align: center;
  margin: 20px 0;
}


// 
.ng-social-block {
  background: #fff;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;

  &.padded, .block-padded {
    padding: 15px;
  }
  .block-header {
    line-height: 38px;
    padding: 0 15px;
    font-size: 13px;
    color: #6a7480;
    font-weight: bold;
    background: #f6f7f8;
    border-bottom: 1px solid #e9eaed;
    border-radius: 3px 3px 0 0;
  }
}
body {
  background: #e7e7e7;
}

.form-body {
  padding: 15px;
  margin-bottom: 0;
}

.form-actions {
  background-color: #f6f7f8;
  border-top-color: #e9eaed;
  border-top: 1px solid #e6e6e6;
  margin-bottom: 0;
  padding: 15px;
  -webkit-border-radius: 0 0 3px 3px;
}

.post {
  padding: 0;
  textarea {
    border: 0;
    background: transparent;

  }
}

.jumbotron {
  background: whitesmoke;
}

.post-container {
  margin-top: 20px;
  background: #fff;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  &.deleted {
    opacity: .7;
  }

  .content-container {
    position: relative;
    padding: 15px;

    .contant-actions {
      margin-top: 10px;
      margin-bottom: -5px;
      font-size: 12px;
      a {
        color: #999;  
      }
      
    }

    .favourite {
      i {
        opacity: .8;
        position: absolute;
        top: 0;
        right: 10px;
        padding: 10px 5px 15px;
        color: #aaaaaa;
        cursor: pointer;
        background: #eee;
        .up {
          width: 0px;
          height: 0px;
          border-left: 14px solid transparent;
          border-right: 14px solid transparent;
          border-bottom: 7px solid #fff;
          font-size: 0px;
          line-height: 0px;
          position: absolute;
          bottom: -1px;
          margin-left: 40%;
          left: -12px;
        }
      }
      &:hover {
        i {
          color: #fff;
          background: #ff7568;
        }
      }
      &.active {
        
        i {
          opacity: 1;
          background: #ff7568;
          color: white;
        }
        
      }
    }

    .user-header {
      margin-bottom: 10px;
      display: table;
      width: 100%;
      a {
        &.user-link {
          color: #3b5998;
          cursor: pointer;
          text-decoration: none;
          font-weight: bold;
          vertical-align: top;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .post-time {
        color: #898f9c;
        font-size: 12px;
      }
    }
    img {
      &.avatar {
        border: 1px solid rgba(0, 0, 0, .1);
        margin-right: 8px;
        float: left;
      }
    }
  }
}

.form-heading {
  margin-top: 0;
  margin-bottom: 20px;
}

ul {
  &.uploaded-photos {
    margin: 0;
    padding: 13px;
    list-style-type: none;
    li {
      position: relative;
      display: inline-block;
      margin: 2px;
      width: 100px;
      height: 100px;
      background: image-url("image_loader.GIF") no-repeat 50% 50% #ececec;
      vertical-align: top;
      a {
        &.destroy {
          position: absolute;
          color: white;
          text-shadow: 0px 0px 3px rgba(0, 0, 0, .8);
          font-size: 20px;
          width: 20px;
          height: 20px;
          line-height: 20px;
          text-align: center;
          top: 0;
          right: 0;
          opacity: .7;
          &:hover {
            opacity: 1;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.media-images {
  margin-top: 15px;
  a {
    display: block;
    float: left;
    overflow: hidden;
    cursor: pointer !important;
    box-sizing: border-box;
    padding: 2px;
    // max-height: 252px;
    img {
      display: none;
    }
  }
}
.friend-list {
  .friends-row {
    margin: 10px -5px;
  }
  .friends {
    padding: 5px;
    .friend {
      display: block;
      position: relative;
      img {
        width: 100%;
      }
      .name {
        background: #000;
        background: -webkit-gradient(linear, center top, center bottom, from(transparent), to(rgba(0, 0, 0, .7)));
        background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, .7));
        bottom: 0;
        color: #fff;
        display: block;
        left: 0;
        padding: 10px 5px 5px 5px;
        position: absolute;
        width: 100%;
        word-wrap: break-word;
        line-height: 1.28;
        font-size: 11px;
        font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
      }
    }
  }
}

.GridTimeline-footer {
  margin-top: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, .25);
  margin-bottom: 10px;
  .enot {
    background: image-url("enot.png") no-repeat 50% 50% #e7e7e7;
    width: 60px;
    height: 30px;
    margin: 0 auto;
    margin-bottom: -15px;
    padding: 0 10px;
  }
}