// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bg-danger {
	padding: 15px;
}

#loading {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 50%;
	margin-left: -20px;
	top: 5px;
	z-index: 99999;
}

* {
	font-family: Roboto;
}

.home-panel {
	background: image-url("social_background.jpg") no-repeat 50% 50%;
	margin-top: -20px;
	height: 400px;
}

// .navbar-static-top {
// 	margin-bottom: 0;
// }

a {
	cursor: pointer;
}

/* carousel */
#quote-carousel 
{
  padding: 0 10px 30px 10px;
  margin-top: 30px 0px 0px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left 
{
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right 
{
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active 
{
  background: #333333;
}
#quote-carousel img
{
  width: 250px;
  height: 100px
}
/* End carousel */

.item blockquote {
    border-left: none; 
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}



/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
      margin-top: 30px;
    }
    
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) { 
    
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;  
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}

ul {
  &.bg-danger {
    list-style-type: none;
  }
}




.profile {
    background-color: #FF766C;
    border: 1px solid #ff766c;
}

.profile img {
    display: block;
    border: 10px solid rgba(255, 255, 255, 0.3);
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.profile p {
    text-align: center;
    color: #fff;
}

.list-group-item {
    background-color: #fff;
    border-radius: 0px !important;
    border: 1px solid #DDD;
}

.list-group-item.active, .list-group-item:hover {
    border-left: 3px solid #FF766C;
    background-color: #F8F7F5;
}

/*Ignore this tag. It is to give space.*/
#space {padding: 10px;}